* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1E2D3B; 
}

.disk {
    width: 250px;
    height: 300px;
    background-color: #2E3A46;
    border: 3px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_cont {
    width: 150px;
    height: 150px;
    margin: 5px;
}

img {
    width: 100%;
    height: 100%;
}

.disk p {
    padding: 5px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
}